.main {
    padding-top: 1rem;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #4CAF50;
}

.subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 30px;
    font-size:18px;
}

.result-card{
    border-radius:18px;
    padding:20px;
    border:1px solid #333;
    background:#1E1E1E;
    margin-bottom:25px;
}

.metric-green{
    color:#00C853;
    font-size:24px;
    font-weight:bold;
}

.metric-yellow{
    color:#FFC107;
    font-size:24px;
    font-weight:bold;
}

.metric-red{
    color:#FF5252;
    font-size:24px;
    font-weight:bold;
}